<!doctype html>
<html lang="en">
{{ $vue := . }}
    <head>
        {{ if $vue }}
          {{ $vue.RenderTags }}
        {{ end }}
    </head>
    <body>
      <div id="app"></div>
      
    </body>
  </html>
      